@import "tailwindcss";
@import "@nuxt/ui";


@theme {
  --font-sans: system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}
